In [101]:
import pandas as pd

In [102]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [151]:
city = ['Berlin','Elrangen', 'Zurich']

In [152]:
city

['Berlin', 'Elrangen', 'Zurich']

In [153]:
df = pd.DataFrame(city)
print(df)

          0
0    Berlin
1  Elrangen
2    Zurich

In [154]:
type(df)

pandas.core.frame.DataFrame

In [108]:
type(city)

list

In [109]:
row, col = df.shape

In [110]:
row

3

In [111]:
col

1

In [112]:
df.shape

(3, 1)

In [155]:
df

          0
0    Berlin
1  Elrangen
2    Zurich

In [114]:
df = pd.DataFrame(city, columns=['city_in_europe'])
df

  city_in_europe
0         Berlin
1     Bangladesh
2      Australia

In [115]:
df = pd.DataFrame(city, columns=['city_in_europe'], index=['c1','c2','c3'])
df

   city_in_europe
c1         Berlin
c2     Bangladesh
c3      Australia

In [156]:
city2=['Dortmund','Paris','Potsdam']
df2 = pd.DataFrame(zip(city,city2), columns=['city1','city2'])

In [149]:
df2.shape

(3, 2)

In [157]:
df2

      city1     city2
0    Berlin  Dortmund
1  Elrangen     Paris
2    Zurich   Potsdam

In [158]:
df2.shape

(3, 2)

In [159]:
city3=[['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [161]:
city3

[['Bavaria', 'Erlangen'], ['NRW', 'Dortmund']]

In [162]:
df4 = pd.DataFrame(city3, columns=["State", "City"])

In [163]:
df4

     State      City
0  Bavaria  Erlangen
1      NRW  Dortmund

In [164]:
city

['Berlin', 'Elrangen', 'Zurich']

In [165]:
city2

['Dortmund', 'Paris', 'Potsdam']

In [166]:
dic1={
    'city1' : city,
    'city'  : city2
}

In [168]:
dic1

{'city1': ['Berlin', 'Elrangen', 'Zurich'],
 'city': ['Dortmund', 'Paris', 'Potsdam']}

In [169]:
df5 = pd.DataFrame(dic1)

In [170]:
df5

      city1      city
0    Berlin  Dortmund
1  Elrangen     Paris
2    Zurich   Potsdam

In [129]:
type(dic1)

dict

In [171]:
df = pd.read_csv('Screen Time Data.csv')

In [172]:
df.head(7)

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0

In [173]:
df.tail(6)

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [133]:
print(df.values)

[[0 '04/17/19' 'Wednesday' 187 89 17 41 22 0 0 0 0]
 [1 '04/18/19' 'Thursday' 123 78 17 8 9 0 0 0 0]
 [2 '04/19/19' 'Friday' 112 52 40 8 4 0 3 0 0]
 [3 '04/20/19' 'Saturday' 101 69 9 38 2 0 3 0 0]
 [4 '04/21/19' 'Sunday' 56 35 2 43 3 0 1 1 0]
 [5 '04/22/19' 'Monday' 189 68 0 9 3 4 0 0 0]
 [6 '04/23/19' 'Tuesday' 158 56 18 41 12 15 0 0 0]
 [7 '04/24/19' 'Wednesday' 135 98 3 33 16 0 0 0 0]
 [8 '04/25/19' 'Thursday' 52 25 7 3 16 0 0 0 0]
 [9 '04/26/19' 'Friday' 198 76 8 29 15 0 32 0 0]
 [10 '04/27/19' 'Saturday' 116 75 10 20 5 0 0 0 0]
 [11 '04/28/19' 'Sunday' 85 42 22 4 2 0 0 0 0]
 [12 '04/29/19' 'Monday' 109 46 8 13 9 15 1 0 1]
 [13 '04/30/19' 'Tuesday' 79 40 2 9 12 0 0 0 1]
 [14 '05/01/19' 'Wednesday' 127 90 0 10 7 0 0 0 1]
 [15 '05/02/19' 'Thursday' 170 60 3 2 11 0 0 0 1]
 [16 '05/03/19' 'Friday' 91 64 2 18 5 1 1 2 1]
 [17 '05/04/19' 'Saturday' 58 34 4 5 3 0 1 0 1]
 [18 '05/05/19' 'Sunday' 133 109 5 1 3 0 0 0 1]
 [19 '05/06/19' 'Monday' 144 81 4 5 3 0 0 0 1]
 [20 '05/07/19' 'Tuesday' 110 70 5 6 15 0 9 0 1]
 [21 '05/08/19' 'Wednesday' 122 53 25 26 15 0 0 0 1]
 [22 '05/09/19' 'Thursday' 96 42 15 16 19 0 0 0 1]
 [23 '05/10/19' 'Friday' 161 93 13 17 16 1 0 0 1]
 [24 '05/11/19' 'Saturday' 58 49 1 2 2 0 0 2 1]
 [25 '05/12/19' 'Sunday' 52 28 1 1 6 0 0 1 1]
 [26 '05/13/19' 'Monday' 61 37 1 0 4 0 0 0 1]
 [27 '05/14/19' 'Tuesday' 88 41 2 7 15 0 0 0 1]]

In [144]:
print(df.columns)

Index(['date'], dtype='object')

In [145]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [146]:
df.head(3)

         date
0  2025-01-01
1  2025-01-02
2  2025-01-03

In [148]:
df[['Social Netwroking']]

KeyError: "None of [Index(['Social Netwroking'], dtype='object')] are in the [columns]"

In [139]:
print(df.columns)

Index(['date'], dtype='object')

In [140]:
df['date'].head())

0    2025-01-01
1    2025-01-02
2    2025-01-03
Name: date, dtype: object

In [141]:
df.columns = df.columns.str.strip()

In [142]:
print(df[['Social Networking']])

KeyError: "None of [Index(['Social Networking'], dtype='object')] are in the [columns]"

In [ ]:
print(df['Social Networking'])

KeyError: 'Social Networking'

In [ ]:
df.Date

AttributeError: 'DataFrame' object has no attribute 'Date'